
.home {
    h1 {
        color: white;
        font-size: 75px;
        
        font-family: 'EB Garamond', serif;

        display: flex;
        justify-content: left;
        position: absolute;
        width: 100vw;
        min-height: 10px;
        max-height: 50px;
        margin-top: 10%;
        margin-left: 450px;
        text-shadow: -1px 2px 10px rgba(150, 150, 150, 0.98);
     
        
    }
    h2 {
        color: white;
        font-size: 35px;
        
        font-family: 'EB Garamond', serif;

        display: flex;
        justify-content: left;
        position: absolute;
        width: 100vw;
        min-height: 10px;
        max-height: 50px;
        margin-top: 16.5%;
        margin-left: 390px;
        text-shadow: -1px 1px 6px rgba(73, 73, 73, 1);     
        
    }
    .home-header {
        min-height: 10em;
        max-height: 50em;
        width: 100vw;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
        padding:30px;
        margin-top: 20px;
       

        .place-order {
            
            color: white;
            font-size: 20px;
            font-family: 'EB Garamond', serif;
            text-shadow: -1px 1px 6px rgba(73, 73, 73, 1);
            background-color: rgb(198, 22, 22);
            border-radius: 10px;
            height: 65px;
            width: 150px;
            border-color:  rgb(198, 22, 22);
            box-shadow: 2px 3px 26px 3px rgba(0,0,0,0.75);
            margin-right: 40px;
        }
        a {
            color: black;
            font-family: 'EB Garamond', serif;
            font-size: 30px;
            
        }
    }
    .carousel-wrapper {
        display: flex;
        justify-content: space-around;
        img {
            height: 350px;
            width: 350px;
            padding: 10px;
        }
        i {
            font-size: 100px;
            margin-top: 110px;
        }
    }
    .googlereviews {
        display: flex;
        justify-content: center;
        
      
        
    }
    .socialmedia {

        display: flex;
        justify-content: space-around;

        font-size: 40px;
        margin-top: 30px;
        margin-right: 350px;
        margin-left: 350px;
    }
    h3 {
        color:  rgb(198, 22, 22);
        display:flex;
        justify-content: center;
        margin-top: 20px;
        i {
            margin-right: 5px;
            margin-top: 2px;
        }
    }
        
}